version: '3.8'
services:
  postgres:
    image: postgres
    # ports:
    #   - 5432:5432
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=user
      - POSTGRES_DB=mynet
    volumes:
      - db-data:/var/lib/postgresql/data
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=postgresql://user:user@postgres:5432/docker-compose
    ports:
      - 3000:3000
    depends_on:
      - postgres
volumes:
  db-data: